*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
